In [12]:
import pandas as pd
import numpy as np
import datetime
import re
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import numpy as np
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score as acc
import tkinter as tk
from tkinter import font
from tkinter import simpledialog
from tkinter import *
from PIL import ImageTk as itk
from PIL import  Image
import tkinter.font
from sklearn.model_selection import GridSearchCV
from math import sqrt
import sklearn.metrics as sm
from sklearn.neighbors import KNeighborsRegressor
from sklearn.datasets import make_regression

In [13]:
data = pd.read_csv("data_result", sep='\t')

In [14]:
data_selected = data.iloc[:, 2:7]
data_selected.describe()

,d14HTJ10CL001,d14HTA21CT001,d14HTF15CF001,d14HTA21CP001,d14HTA23CT002
count,29486.000000,29486.000000,29486.000000,29486.000000,29486.000000
mean,43.367700,97.895713,760.385844,-83.351116,77.422031
std,24.621704,54.052894,419.909480,58.654337,42.734454
min,0.000000,0.000000,0.000000,-446.000000,0.000000
25%,42.000000,122.000000,932.000000,-130.000000,98.000000
50%,54.000000,127.000000,967.000000,-94.000000,101.000000
75%,60.000000,129.000000,988.000000,-38.000000,102.000000
max,78.000000,136.000000,1113.000000,638.000000,126.000000

In [15]:
data.describe()

,Unnamed: 0,dKominSO2,d14HTJ10CL001,d14HTA21CT001,d14HTF15CF001,d14HTA21CP001,d14HTA23CT002
count,29486.000000,29486.000000,29486.000000,29486.000000,29486.000000,29486.000000,29486.000000
mean,21882.307570,116.952995,43.367700,97.895713,760.385844,-83.351116,77.422031
std,13123.142366,74.465031,24.621704,54.052894,419.909480,58.654337,42.734454
min,0.000000,0.000000,0.000000,0.000000,0.000000,-446.000000,0.000000
25%,9578.250000,33.000000,42.000000,122.000000,932.000000,-130.000000,98.000000
50%,22518.500000,150.000000,54.000000,127.000000,967.000000,-94.000000,101.000000
75%,33952.750000,180.000000,60.000000,129.000000,988.000000,-38.000000,102.000000
max,44622.000000,199.000000,78.000000,136.000000,1113.000000,638.000000,126.000000

In [16]:
mins = []
maxs = []
for i in range(0,5):
    mins.append(data_selected.iloc[:,i].min())
    maxs.append(data_selected.iloc[:,i].max())

print(mins, maxs)

[0.0, 0.0, 0.0, -446.0, 0.0] [78.0, 136.0, 1113.0, 638.0, 126.0]

In [17]:
def bitfield(n):
    return [int(digit) for digit in bin(n)[2:]]

a = bitfield(3)
N = 5
a = [0] * (N - len(a)) + a
a

[0, 0, 0, 1, 1]

In [28]:
#MODEL DLA DecisionTreeRegressor
select_data_1 = data
Y_2 = select_data_1['dKominSO2']
select_data_1 = select_data_1.drop(['dKominSO2'], axis = 1)
select_data_1 = select_data_1.drop(['Unnamed: 0'], axis = 1)
min_max_scaler = preprocessing.MinMaxScaler()
data_scaled_2 = min_max_scaler.fit_transform(select_data_1)

print(data_scaled_2.mean(axis=0))
print(data_scaled_2.std(axis=0))
x2 = pd.DataFrame(data_scaled_2, columns = [ 'd14HTJ10CL001',  'd14HTA21CT001',  'd14HTF15CF001', 'd14HTA21CP001', 'd14HTA23CT002'])

training_data2, testing_data2, training_target2, testing_target2 = train_test_split(x2, Y_2, test_size=0.3)
clf2 = tree.DecisionTreeRegressor()

clf2 = clf2.fit(training_data2, training_target2)

print("Mean squared error =", round(sm.mean_squared_error(testing_target2, clf2.predict(testing_data2)), 2)) 
print("Median absolute error =", round(sm.median_absolute_error(testing_target2, clf2.predict(testing_data2)), 2)) 
print("Explain variance score =", round(sm.explained_variance_score(testing_target2, clf2.predict(testing_data2)), 2)) 
print("R2 score =", round(sm.r2_score(testing_target2, clf2.predict(testing_data2)), 2))

[0.55599615 0.71982142 0.68318584 0.33454694 0.61446056]
[0.31565752 0.39744101 0.37727076 0.05410825 0.33915658]
Mean squared error = 799.76
Median absolute error = 6.45
Explain variance score = 0.86
R2 score = 0.86

In [29]:
#MODEL KONCOWY 

regr = KNeighborsRegressor()
regr.fit(training_data2, training_target2)


print("Mean squared error =", round(sm.mean_squared_error(testing_target2, regr.predict(testing_data2)), 2)) 
print("Median absolute error =", round(sm.median_absolute_error(testing_target2, regr.predict(testing_data2)), 2)) 
print("Explain variance score =", round(sm.explained_variance_score(testing_target2, regr.predict(testing_data2)), 2)) 
print("R2 score =", round(sm.r2_score(testing_target2, regr.predict(testing_data2)), 2))

Mean squared error = 489.24
Median absolute error = 5.8
Explain variance score = 0.91
R2 score = 0.91

In [20]:
res = []
for i in range(0, 32):
    pred = []
    a = bitfield(i)
    N = 5
    bitrep = [0] * (N - len(a)) + a
    for j in range(0, N):
        if bitrep[j] == 0:
            pred.append(mins[j])
        else:
            pred.append(maxs[j])
    pred.append(regr.predict(np.array(pred).reshape(1, -1))[0])
    res.append(pred)
    
df = pd.DataFrame(res, index = [x for x in range(1, 33)], columns =["d14HTJ10CL001", "d14HTA21CT001", "d14HTF15CF001", "d14HTA21CP001", "d14HTA23CT002", "dKominSO2"])

df

,d14HTJ10CL001,d14HTA21CT001,d14HTF15CF001,d14HTA21CP001,d14HTA23CT002,dKominSO2
1,0.0,0.0,0.0,-446.0,0.0,193.4
2,0.0,0.0,0.0,-446.0,126.0,193.4
3,0.0,0.0,0.0,638.0,0.0,39.6
4,0.0,0.0,0.0,638.0,126.0,39.6
5,0.0,0.0,1113.0,-446.0,0.0,171.8
6,0.0,0.0,1113.0,-446.0,126.0,166.6
7,0.0,0.0,1113.0,638.0,0.0,39.6
8,0.0,0.0,1113.0,638.0,126.0,39.6
9,0.0,136.0,0.0,-446.0,0.0,193.4
10,0.0,136.0,0.0,-446.0,126.0,193.4
11,0.0,136.0,0.0,638.0,0.0,39.6
12,0.0,136.0,0.0,638.0,126.0,39.0
13,0.0,136.0,1113.0,-446.0,0.0,166.6
14,0.0,136.0,1113.0,-446.0,126.0,166.6
15,0.0,136.0,1113.0,638.0,0.0,39.6
16,0.0,136.0,1113.0,638.0,126.0,39.6
17,78.0,0.0,0.0,-446.0,0.0,193.4
18,78.0,0.0,0.0,-446.0,126.0,193.4
19,78.0,0.0,0.0,638.0,0.0,39.6
20,78.0,0.0,0.0,638.0,126.0,39.6
21,78.0,0.0,1113.0,-446.0,0.0,166.6
22,78.0,0.0,1113.0,-446.0,126.0,166.6
23,78.0,0.0,1113.0,638.0,0.0,39.6
24,78.0,0.0,1113.0,638.0,126.0,39.6
25,78.0,136.0,0.0,-446.0,0.0,193.4
26,78.0,136.0,0.0,-446.0,126.0,193.4
27,78.0,136.0,0.0,638.0,0.0,39.6
28,78.0,136.0,0.0,638.0,126.0,39.0
29,78.0,136.0,1113.0,-446.0,0.0,166.6
30,78.0,136.0,1113.0,-446.0,126.0,166.6
31,78.0,136.0,1113.0,638.0,0.0,39.6
32,78.0,136.0,1113.0,638.0,126.0,39.6

In [21]:
#Dane testowe - predykcja do modelu z PCA
#Proszę sprawdzić wynik modelu dla zasiarczenia węgla z zakresu min. 900 i max 2800; ilość dozowanego wapna [kg] 
#min. 650 max. 2300, Przepływ zwężka min. 230 max 490 (oczywiście dotyczy zmiennych, które uwzględniliście w modelu).

Xnew = []
Xnew = np.array(Xnew)
Xnew = np.append(Xnew , [48.0 , 129.0, 1101.0, -143.0, 101.0])

min_max_scaler = preprocessing.MinMaxScaler(feature_range=(0, 1))
data_scaled = min_max_scaler.fit_transform(Xnew.reshape(5,-1))
Xnew = data_scaled.reshape(-1, 5)

dr = pd.DataFrame(Xnew)
ynew = regr.predict(dr) #blisko 
print("X= " + str(Xnew[0]) + " , Predicted= " + str(ynew[0]))
ynew = clf2.predict(dr) #bardzo daleko
print("X= " + str(Xnew[0]) + " , Predicted= " + str(ynew[0]))

X= [0.15353698 0.21864952 1.         0.         0.19614148] , Predicted= 154.0
X= [0.15353698 0.21864952 1.         0.         0.19614148] , Predicted= 66.0

In [26]:
#  'd14HTJ10CL001',  'd14HTA21CT001',  'd14HTF15CF001', 'd14HTA21CP001', 'd14HTA23CT002'
#MIN 39.0  104.0 51.0 -446.0 80
#MAX 78.0 136 1154 642 132
yReal = [196, 76.0, 203.0, 82.0, 1762.0, 1444.0 ,194.0,  1795.0, 1767.0 ,1365.0]

Xnew = np.array([[39.0,126.0,1085.0,-124.0,100.0], \
                 [78.0,112.0,988.0,-150.0,90.0], \
                 [76.0,104.0 ,1001.0, 76.0,95.0],[58.0 ,136.0,940.0 ,-149.0,100.0],[47.0 ,121.0 ,51.0 ,283.0 ,87.0],[48.0 ,129.0  ,1154.0 ,-98.0, 127.0],[46.0,123.0,994.0,-446.0, 98.0  ],[44.0 ,114.0 ,1094.0 , 642.0 ,  95.0],[44.0, 111.0,1090.0,618.0 , 80.0 ],[55.0,135.0 ,1083.0 ,-179.0, 132.0]], np.float64)

Xnew = Xnew.astype(np.float)
min_max_scaler = preprocessing.MinMaxScaler(feature_range=(0, 1))
data_scaled = min_max_scaler.fit_transform(Xnew)

dr = pd.DataFrame(data_scaled)
ynew = regr.predict(dr) #blisko 
print("X= " + str(Xnew[0]) + " , Predicted= " + str(ynew[0]))
for i in range(0, len(Xnew)):
    print("X= " + str(Xnew[i]) + " , Predicted= " + str(ynew[i]))

X= [  39.  126. 1085. -124.  100.] , Predicted= 186.0
X= [  39.  126. 1085. -124.  100.] , Predicted= 186.0
X= [  78.  112.  988. -150.   90.] , Predicted= 97.2
X= [  76.  104. 1001.   76.   95.] , Predicted= 97.2
X= [  58.  136.  940. -149.  100.] , Predicted= 118.6
X= [ 47. 121.  51. 283.  87.] , Predicted= 0.0
X= [  48.  129. 1154.  -98.  127.] , Predicted= 187.8
X= [  46.  123.  994. -446.   98.] , Predicted= 193.4
X= [  44.  114. 1094.  642.   95.] , Predicted= 58.0
X= [  44.  111. 1090.  618.   80.] , Predicted= 154.0
X= [  55.  135. 1083. -179.  132.] , Predicted= 184.0

In [30]:
import pickle

# save the model to disk
filename = 'model_best.sav'
pickle.dump(regr, open(filename, 'wb'))
  
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(testing_data2, testing_target2)
print(result)

0.9113581774403319

### APLIKACJA

In [31]:
import tkinter as tk
from tkinter import simpledialog
from tkinter import *
from PIL import ImageTk as itk
from PIL import  Image
import tkinter.font

def show_entry_fields():
    print("14HTJ10CL001: %s\n14HTA21CT001: %s\n14HTF15CF001: %s\n14HTA21CP001: %s\n14HTA23CT002: %s\n" % (e1.get(), e2.get(), e3.get(), e4.get(), e5.get() ))
    Xpredic = [e1.get(),e2.get(),e3.get(),e4.get(),e5.get()]

    Xnew1 = []
    Xnew1 = np.array(Xnew1)
    Xnew1 = np.append(Xnew1 , Xpredic)
    min_max_scaler = preprocessing.MinMaxScaler(feature_range=(0, 1))
    data_scaled = min_max_scaler.fit_transform(Xnew1.reshape(5,-1))                       
    Xnew1 = data_scaled.reshape(-1, 5)
    dr = pd.DataFrame(Xnew1)
    filename = 'model_best.sav'
    loaded_model = pickle.load(open(filename, 'rb'))
    ypredicted = loaded_model.predict(Xnew1)

    print("Predicted=%s" % (ypredicted[0]))
    e8.delete(0, tk.END)
    e1.delete(0, tk.END)
    e2.delete(0, tk.END)
    e3.delete(0, tk.END)
    e4.delete(0, tk.END)
    e5.delete(0, tk.END)
    e8.insert(0, "Output: " + str(ypredicted[0]))

master = tk.Tk()

master.config(background="#336699")
fontsize = tk.IntVar(master)
selectedfont = tk.StringVar(master)
setfontstyle = font.Font(family=selectedfont, size=14, weight='normal')

img = itk.PhotoImage(Image.open("test5.png"), master=master)

background_image=img
background_label = tk.Label(master, image=background_image)
background_label.place(x=0, y=0, relwidth=1, relheight=1)
background_label.image = background_image

tk.Label(master, text="14HTJ10CL001: ", width=25, height = 1,background="#29baff", font=setfontstyle).grid(row=0, padx=40, pady=10)
tk.Label(master, text="14HTA21CT001: ", width=25, height = 1,background="#29baff", font=setfontstyle).grid(row=1, padx=40, pady=10)
tk.Label(master, text="14HTF15CF001: ", width=25, height = 1,background="#29baff", font=setfontstyle).grid(row=2, padx=40, pady=10)
tk.Label(master, text="14HTA21CP001: ", width=25, height = 1,background="#29baff", font=setfontstyle).grid(row=3, padx=40, pady=10)
tk.Label(master, text="14HTA23CT002: ", width=25, height = 1,background="#29baff", font=setfontstyle).grid(row=4, padx=40, pady=10)

e1 = tk.Entry(master, width=60)
e2 = tk.Entry(master, width=60)
e3 = tk.Entry(master, width=60)
e4 = tk.Entry(master, width=60)
e5 = tk.Entry(master, width=60)
e8 = tk.Entry(master, width=15, font=setfontstyle)

e1.grid(row=0, column=1, padx=20, pady=10, ipady=7)
e2.grid(row=1, column=1, padx=20, pady=10, ipady=7)
e3.grid(row=2, column=1, padx=20, pady=10, ipady=7)
e4.grid(row=3, column=1, padx=20, pady=10, ipady=7)
e5.grid(row=4, column=1, padx=20, pady=10, ipady=7)
e8.grid(row=7, column=0, padx=20, pady=10, ipady=7)

e8.insert(0,'output: ')

tk.Button(master, 
          text='Predict', command=show_entry_fields,
                         width=50, height = 1, font=setfontstyle).grid(
    row=7, column=1,
                                                       sticky=tk.W, 
                                                        padx=40,
                                                        pady=40)

master.mainloop()
tk.mainloop()

14HTJ10CL001: 435
14HTA21CT001: 345
14HTF15CF001: 445
14HTA21CP001: 45
14HTA23CT002: 435

Predicted=170.8

AttributeError: 'NoneType' object has no attribute 'tk'